body{
  background-color:#31c6d6;
  text-align:center;
  font-size:18px;
  font-family:Georgia;
  color:#311ceb;
  background-repeat:no-repeat;
  font-family: 'Roboto Slab', serif;
}
img{
  height:270px;
  border-radius:100%;
}
h1{
  color:#7615e6;
  text-shadow:2px 2px #b421d1;
  font-size:35px;
}
h2{
  font-family:Comic;
  font-size:35px;
  color:#eb1c8a;
}
.menu{
    list-style: none;
    position: fixed;
    cursor: pointer;
    top: 0px;
    right:30px;
    z-index: 10;
    margin-top: 0px;
    width: 100%;
    margin-left: 10px;
    padding: 5px;
}
  h3{
    font-family:comic;
    font-size:25px;
    color:#ed6221;
  }
li:hover{
  background-color:#f274b5;
    font-size: 25px;
    color: rosybrown;
}
li{
  display:inline;
  color:#f0c9dd;
  font-size:20px;
}
img{
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}
.line{
    height: 7px;
    width: 50px;
    background-color: black;
    margin: 8px auto;
}
iframe{
    margin: 9px auto;
}

.links{
    float: left;
    padding: 5px;
    
}
iframe{
    width: 100%;
}

